.register
  .user.name
    = user.input :username

  .user.password
    = user.input :password

  .user.password_confirmation
    = user.input :password_confirmation

  .user.email
    = user.input :email

  .user.email_confirmation
    = user.input :email_confirmation

  .user.sex
    = user.input :sex, collection: %w(M F)

  .user.btn-submit
    = user.button :submit