= form_for @user, url: users_path, html: { multipart: true, class: "user" } do |game|
	= game.label :userid
	= game.text_field :userid

	= game.label :userpass
	= game.password_field :userpass

	= game.label :sex
	= game.select :sex, %w(M F)

	= game.label :email
	= game.text_field :email

	= submit_tag 'Cadastrar!'