.highlights

%header#header.header
  %nav
    = render partial: 'layouts/nav', collection: nav

  #user_panel
    = link_to 'Login', :login

= render 'home/server_information'

= render 'home/extra_information'

= render 'home/join_game'

= render 'home/footer'