.highlights

%header#header.header
  %nav
    %a{ href: '#' }
      Home
    %a{ href: '#informations' }
      Info
    %a{ href: '#' }
      Guias
    %a{ href: '#join' }
      Registro
    %a{ href: '#join' }
      Downloads
    %a{ href: '#' }
      Contato

  #user_panel
    = link_to 'Login', :login

= render 'home/server_information'

= render 'home/extra_information'

= render 'home/join_game'

= render 'home/footer'