!!! 5
%html
  %head
    %meta{ content: 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type' }
    %meta{ content: 'Celtic RO', name: 'description'}

    = csrf_meta_tags
    %title Celtic RO Beta - 100x / 100x / 50x

    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags

  %body
    = yield
    = javascript_include_tag "application"